html, body, .ng-scope, .container-fluid#main-container {
	height: 100%;
}

div.img-responsive {
	background: url("../images/background.jpg") no-repeat;
}

/* Search view */
#input-container {
	background-color: white;
}
#map-container {
	background-color: green;
}
#input-container, #map-container{
	border-radius: 3px;
}
#location-form {
	background-color: white;
}


/* Description view */
.small-icon {
	max-height: 50px;
}
