html, body, .ng-scope, .container-fluid#main-container {
	height: 100%;
	/* For the moment don't add width: 100%, it messes the date picker style */
}
body {
  margin:0;
  background: url('../images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: compact;}    
}

/* Home view */


/*#bg {
	position: fixed;
	top:-50%;
	left:-50%;
	width:200%;
	height: 200%;
}*/
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
    /*min-height: 100%;   
	min-height: 100vh;
	display: flex;
	align-items: center;*/
}
#top-spacing-home {
	height:5vh;
	width: 100vw;
}
#center-spacing-home {
	height: 90vh;
	width: 100vw;
	
	
}
#bottom-spacing-home {
	height:5vh;
	width: 100vw;
}
#header-form-home {
	background-color: white;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	padding-top: 10px;
	padding-bottom: 20px;

}
#logo-home {
	width: 85px;
}
#welcomingTitle {
	font-size: 26px;
}
#welcomingTxt {
	/*padding: 6px;*/
}
#body-form-home {
	background-color: white;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
	padding-bottom: 25px;
	padding-left: 50px;
	padding-right: 60px;
}


/* Search view */
#input-container {
	background-color: white;
}
#map-container {
	height: 100%;
}
#input-container, #map-container{
	border-radius: 3px;
}
#location-form {
	background-color: white;
}
#date-departure-label, #date-return-label {
	left: 0px;
}
#search-btn {
	width:100%;
	background-color: #d7e2f2;
	margin: 15px 0px 0px 0px;
}
svg {
	color: inherit;
}
.md-42 {
	height: 42px;
	width: 42px;
}
.mt-10 {
	margin-top: 10px;
}
.mts-10 {
	margin-top: -10px;
}

/* Description view */
.small-icon {
	max-height: 50px;
}
#map {
	bottom:0px;
	height: 100%;
	position: absolute;
	right: 0px;
}
.angular-google-map-container { height: 500px; }
