<div class="container-fluid">
  <div class="row">
    <ng-include src="'partials/navbar.html'" class="col-md-8 col-md-offset-2"></ng-include>
  </div>
  <div class="row" id="top-spacing-home"></div>
  <div class="container" style="max-height: 80vh;overflow-y: scroll;">
    <div class="row" style="padding:10px">
      <calendar-md flex layout layout-fill
        calendar-direction="direction"
        on-day-click="dayClick"
        title-format="'MMMM y'"
        ng-model='selectedDate'
        week-starts-on="firstDayOfWeek"
        tooltips="tooltips"
        day-format="dayFormat"
        day-label-format="'EEE'"
        day-label-tooltip-format="'EEEE'"
        day-tooltip-format="'fullDate'"
        day-content="fillCalendar"
        disable-future-selection="false">
      </calendar-md>
    </div>

    <div class="row" style="height: 3vh"></div>

    <div class="row" style="padding:10px">
      <div class="col-md-12" style="background-color: white; border-radius: 3px">
        <div class="row">
          <div class="col-md-2 inset" layout="row" layout-align="space-between center" style="padding: 30px">
            <p style="padding-top: 10px">Show forecast:</p>
            <md-switch  aria-label="Weather forecast display" ng-model="forecastDisplay" class="md-primary" md-no-ink="" ng-click="onChange(forecastDisplay)"></md-switch>
          </div>
          <div class="col-md-8" style="padding: 40px">
            <div layout="row">
              <div class="col-md-2">
                <p style="padding-top: 8px">Background color:</p>
              </div>
              <div class="col-md-8">
                <md-button class="md-fab md-mini" ng-repeat="(key, color) in colorPanel" ng-click="changeColor(key)" style="background-color: {{color}};height: 20px;width: 20px;"></md-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</div>