<ng-include src="'partials/navbar.html'"></ng-include>

<div class="container-fluid">
  <div class="row" id="top-spacing-description"></div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1"  style="background-color: white; border-radius: 3px; box-shadow: 0px 5px 5px #1f2e2e">

	    <div class="row">
	      <div class="col-md-10 col-md-offset-1">
          <h1 align="center">My trip plan to {{getArriveCity()}}</h1>
	      </div>
	      <div class="col-md-1 padding-0" align="right">
          <md-button class="md-icon-button md-accent" aria-label="Close" ng-href="#!/search">
            <md-icon md-svg-icon="images/close-icon.svg"></md-icon>
          </md-button>
	      </div>
		  </div>

		  <div class="row md-padding">
	      <div class="col-md-6">
		      <!-- TODO: Find API to search for city pictures -->
          <img ng-src="{{cityPic}}">
	      </div>
	      <div class="col-md-6" layout="row" layout-align="space-around center">
		      <div ng-repeat="dayForecast in getForecast()" layout="column" layout-align="space-around center">
			      <p>{{dayForecast.date | date:'MMM dd'}}</p>
			      <img ng-src="../images/icons-map/{{mapConditionIdName[getWeatherIcon(dayForecast.day.condition.code)]}}.png"
                 style="min-width: 84px; min-width: 84px;">
			      <p> <img src="../images/temperature-min.png" style="max-width: 18px;"> {{dayForecast.day.mintemp_c}}ºC</p>
			      <p> <img src="../images/temperature-max.png" style="max-width: 18px;"> {{dayForecast.day.maxtemp_c}}ºC</p>
			      <p> <img src="../images/svg/wind.svg" style="max-width: 18px;"> {{dayForecast.day.maxwind_kph}} km/h</p>
		      </div>
	      </div>
		  </div>

			<div class="row md-padding">
		    <div class="col-md-6">
		        <h2>What to visit in {{getArriveCity()}}</h2>
		        <div ng-repeat="act in getTouristInfo()">
					<p>- {{act.name}}</p>
				</div>
		    </div>
		    <div class="col-md-6">
	        <h2>Flights from {{getDepartCity()}} to {{getArriveCity()}}</h2>
	        <p>...</p>
		    </div>
		    <div class="row">
			    <div class="col-md-12" align = "right">
		        <md-button class="md-raised" ng-click="goToCalendar();" type="submit" id="confirm-btn">Yes, I go!</md-button>
			    </div>
	      </div>
	    </div>

    </div>
    <div class="row" id="bottom-spacing-description"></div>
	</div>

</div>