<ng-include src="'partials/navbar.html'"></ng-include>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-11">
            <h1 align="center">My trip plan to {{getArriveCity()}}</h1>
        </div>
        <div class="col-md-1">
            <a href="#!/search" class="btn btn-default">
                <img class="small-icon" src="images/cross.png">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img src="images/paris.jpg">
        </div>
        <div class="col-md-6">
            <h2>Weather forecast</h2>
            <p>prediction</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2>What to do in {{getArriveCity()}}</h2>
            <p>
                - Vasa museet
                - Ice skating
                     ...
            </p>
        </div>
        <div class="col-md-6">
            <h2>Flights from {{getDepartCity()}} to {{getArriveCity()}}</h2>
            <p>
                ...
            </p>
        </div>
    </div>
</div>