<div class="container-fluid img-responsive">
	<div class="row" id="top-spacing-home"></div>
	<div class="row" id="center-spacing-home" ng-controller="InputCtrl as ctrl">
		<div class="col-md-8 col-md-offset-2">
			<!-- <ng-include src="'partials/input.html'"></ng-include>
		</div> -->
		<div class="row" id="header-form-home">
			<div class="col-md-8 col-md-offset-2" align="center">
				<img id="logo-home" src="../images/logo.png">
				<h2 id="welcomingTitle"> {{welcomingTitle}}</h2>
				<p id="welcomingTxt"> {{welcomingTxt}} </p>
				
			</div>

			
		</div>
		<div>
			<a ng-href="#!/search" class="btn btn-default">Go to Search View</a>
		</div>

		
	</div>
	<div class="row" id="bottom-spacing-home"></div>
</div>