<div ng-controller="LocationCtrl as ctrl" ng-cloak>
	<md-content class="md-padding" id="location-form">
		<form ng-submit="$event.preventDefault()" name="locationForm">

				<md-autocomplete flex required
				                 md-input-name="departureCity"
				                 md-no-cache="ctrl.noCache"
				                 md-selected-item="ctrl.selectedCity"
				                 md-search-text="ctrl.searchCity"
				                 md-items="item in ctrl.queryCities(ctrl.searchCity)"
				                 md-item-text="item.display"
				                 md-require-match
				                 md-floating-label="Depart from">
					<md-item-template>
						<span md-highlight-text="ctrl.searchCity" md-highlight-flags="^i">{{item.display}}</span>
					</md-item-template>
					<md-not-found>
						No cities matching "{{ctrl.searchCity}}" were found.
					</md-not-found>
					<div ng-messages="locationForm.departureCity.$error" ng-if="locationForm.departureCity.$touched">
						<div ng-message="required">You <b>must</b> enter your city.</div>
						<div ng-message="md-require-match">Please select an existing city.</div>
					</div>
				</md-autocomplete>

				<md-autocomplete flex required
							           md-input-name="arrivalCountry"
							           md-no-cache="ctrl.noCache"
							           md-selected-item="ctrl.selectedCountry"
							           md-search-text="ctrl.searchCountry"
							           md-items="item in ctrl.queryCountries(ctrl.searchCountry)"
							           md-item-text="item.display"
							           md-require-match
							           md-floating-label="Arrive to">
					<md-item-template>
						<span md-highlight-text="ctrl.searchCountry" md-highlight-flags="^i">{{item.display}}</span>
					</md-item-template>
					<md-not-found>
						No countries matching "{{ctrl.searchCountry}}" were found.
					</md-not-found>
					<div ng-messages="locationForm.arrivalCountry.$error" ng-if="locationForm.arrivalCountry.$touched">
						<div ng-message="required">You <b>must</b> enter a country.</div>
						<div ng-message="md-require-match">Please select an existing country.</div>
					</div>
				</md-autocomplete>
		</form>
		<a href="#!/description" class="btn btn-default">See Detail</a>
	</md-content>
</div>
