<div ng-controller="InputCtrl as ctrl" ng-cloack>
	<div class="row">
	<div class="col-md-12">
	<md-content class="md-padding" id="location-form">
		<form name="inputForm">

			<md-autocomplete flex required md-require-match
			                 md-input-name="departureCity"
			                 md-selected-item="selectedCity"
			                 md-search-text="searchCity"
			                 md-items="item in queryCities(searchCity)"
			                 md-item-text="item.display"
			                 md-min-length="0"
			                 md-floating-label="Depart from"
			                 md-clear-button="true">
				<md-item-template>
					<span md-highlight-text="searchCity" md-highlight-flags="^i">{{item.display}}</span>
				</md-item-template>
				<md-not-found>
					No cities matching "{{searchCity}}" were found.
				</md-not-found>
				<div ng-messages="inputForm.departureCity.$error" ng-if="inputForm.departureCity.$touched">
					<div ng-message="required">You <b>must</b> enter your city.</div>
					<div ng-message="md-require-match">Please select an existing city.</div>
				</div>
			</md-autocomplete>

			<md-autocomplete flex required md-require-match
			                 md-input-name="arrivalCountry"
			                 md-selected-item="selectedCountry"
			                 md-search-text="searchCountry"
			                 md-items="item in queryCountries(searchCountry)"
			                 md-item-text="item.display"
			                 md-min-length="0"
			                 md-floating-label="Arrive to"
			                 md-clear-button="true">
				<md-item-template>
					<span md-highlight-text="searchCountry" md-highlight-flags="^i">{{item.display}}</span>
				</md-item-template>
				<md-not-found>
					No countries matching "{{searchCountry}}" were found.
				</md-not-found>
				<div ng-messages="inputForm.arrivalCountry.$error" ng-if="inputForm.arrivalCountry.$touched">
					<div ng-message="required">You <b>must</b> enter a country.</div>
					<div ng-message="md-require-match">Please select an existing country.</div>
				</div>
			</md-autocomplete>

			<div layout="row" layout-align="space-between center">
				<md-input-container>
					<label id="date-departure-label">Depart on</label>
					<md-datepicker required
					               ng-change="returnDateRangeUpdate()"
					               ng-model="departureDate"
					               name="departureDate"
					               md-min-date="minDepartureDate"
					               md-max-date="maxDepartureDate">
					</md-datepicker>
					<div ng-messages="inputForm.departureDate.$error">
						<div ng-message="required">This date is required!</div>
					</div>
				</md-input-container>

				<md-input-container>
					<label id="date-return-label">Return on</label>
					<md-datepicker required
					               ng-model="returnDate"
					               name="returnDate"
					               md-min-date="minReturnDate"
					               md-max-date="maxReturnDate">
					</md-datepicker>
					<div ng-messages="inputForm.returnDate.$error">
						<div ng-message="required">This date is required</div>
					</div>
				</md-input-container>
			</div>
			
			<md-slider-container class="mts-10">
				<img src="../images/temperature-min.png">
				<md-slider flex md-discrete ng-model="minTemperature" min="-20" max="{{maxTemperature}}"
				           aria-label="Min" class="md-primary"></md-slider>
				<p id="min-temp-value">{{minTemperature}}</p>
			</md-slider-container>
			
			<md-slider-container>
				<img src="../images/temperature-max.png">
				<md-slider flex md-discrete ng-model="maxTemperature" min="{{minTemperature}}" max="40"
				           aria-label="Max" class="md-warn"></md-slider>
				<p id="max-temp-value">{{maxTemperature}}</p>
			</md-slider-container>
			
			<div layout="row" layout-align="space-between center">
					<md-icon md-svg-src="../images/svg/wind.svg" class="md-32 mr-15"></md-icon>
					<md-switch ng-model="careAboutWind" class="md-primary" aria-label="Wind preference"></md-switch>

					<md-radio-group flex layout="row" layout-align="end center" ng-model="windPreference" ng-show="careAboutWind">
						<md-radio-button value="-1" class="md-primary" aria-label="Soft wind">
							<img src="../images/breeze.png" class="md-32">
						</md-radio-button>
						<md-radio-button value="1" class="md-primary" aria-label="Strong wind">
							<img src="../images/strong-wind.png" class="md-32">
						</md-radio-button>
					</md-radio-group>
			</div>


			<div layout="row" layout-align="space-between center" class="mt-10">
				<md-icon ng-repeat="i in [0,1,2,3]"
				         class="md-42"
				         md-svg-src="../images/svg/{{iconsName[i]}}.svg"
				         ng-click="incrementCounter(i)"
				         ng-style="{'color': statesDicc[iconsState[i]]}">
				</md-icon>
			</div>

			<md-button ng-click="inputForm.$valid && search()" type="submit" class="md-raised" id="search-btn">Search</md-button>

		</form>
	</md-content>
	</div>
	</div>
</div>


