<!-- Navigation bar -->
<nav ng-controller="NavbarCtrl" ng-cloak >
	<md-nav-bar class="md-primary"
							md-selected-nav-item="currentNavItem"
	            nav-bar-aria-label="navigation links">
		<md-nav-item md-nav-click="goTo('/home')" name="/home">
			<p class="nav-item">Home</p>
		</md-nav-item>
		<md-nav-item md-nav-click="goTo('/search')" name="/search">
			<p class="nav-item">Search</p>
		</md-nav-item>
		<md-nav-item md-nav-click="goTo('/description')" name="/description/{{selectedCity}}" ng-show="isDescription">
			<p class="nav-item">City details</p>
		</md-nav-item>
		<md-nav-item md-nav-click="goTo('/calendar')" name="/calendar">
			<p class="nav-item">My trips</p>
		</md-nav-item>
	</md-nav-bar>
</nav>