<nav ng-controller="NavbarCtrl" ng-cloak >
	<md-nav-bar class="md-primary"
							md-selected-nav-item="currentNavItem"
	            nav-bar-aria-label="navigation links"
	            md-no-ink-bar="isLoginSelected()">

		<md-nav-item md-nav-click="goTo('/home')" name="/home">
			<p class="nav-item">Search</p>
		</md-nav-item>
		<md-nav-item md-nav-click="goTo('/search')" name="/search">
			<p class="nav-item">Map</p>
		</md-nav-item>
		<md-nav-item md-nav-click="goTo('/description')" name="/description/{{selectedCity}}" ng-show="isDescription">
			<p class="nav-item">City details</p>
		</md-nav-item>
		<md-nav-item md-nav-click="goTo('/calendar')" name="/calendar">
			<p class="nav-item">My trips</p>
		</md-nav-item>

		<span flex></span>

		<md-nav-item md-nav-click="null" name="/login" ng-hide="isLoggedIn()" ng-click="setIsLoginClicked()" aria-label="Login button" >
			<google-plus-signin clientid="644517138642-t17m3v4l7vcju35q6ggtsn5jntj97q43.apps.googleusercontent.com"
			                    language="en"
			                    autorender="false"
			                    customtargetid="login-button">
				<div id="login-button" class="nav-item">
					<p>Log In with Google</p>
				</div>
			</google-plus-signin>
		</md-nav-item>

		<md-menu-bar layout="column" layout-align="center center" ng-show="isLoggedIn()">
			<md-menu md-position-mode="target-right target" md-offset="26 78">
				<md-button class="md-icon-button" ng-click="$mdMenu.open()">
					<i class="material-icons">account_circle</i>
				</md-button>
				<md-menu-content width="2">
					<md-menu-item>
						<md-button ng-click="goTo('/profile')">
							<md-icon><i class="material-icons">person</i></md-icon>
							Profile
						</md-button>
					</md-menu-item>

					<md-menu-divider></md-menu-divider>
					<md-menu-item>
						<md-button ng-click="logout()">
							<md-icon><i class="material-icons">exit_to_app</i></md-icon>
							Log out
						</md-button>
					</md-menu-item>
				</md-menu-content>
			</md-menu>
		</md-menu-bar>
	</md-nav-bar>
</nav>
