<div class="container-fluid">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<ng-include src="'partials/navbar.html'"></ng-include>

			<div id="profile-container">
				<div class="md-padding">
					<div class="col-md-4">
						<img id="profile-img" src="https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg?sz=200">
					</div>
					<div class="col-md-8">
						<div class="row">
							<div class="col-md-12">
								<h3>quim.arnau</h3>
							</div>
						</div>
						<div class="row" id="profile-content">
							<div class="col-md-6">
								<p><md-icon><i class="material-icons">person</i></md-icon> Quim Arnau</p>
								<p><md-icon><i class="material-icons">email</i></md-icon> quiw.arnau@gmail.com</p>
							</div>
							<div class="col-md-6">
								<p><md-icon><i class="material-icons">wc</i></md-icon> Male</p>
								<p><md-icon><i class="material-icons">language</i></md-icon> Ca</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>