<div class="container-fluid">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<ng-include src="'partials/navbar.html'"></ng-include>

			<div id="profile-container" ng-controller="ProfileCtrl" ng-init="testAfterLogout()">
				<div class="md-padding">
					<div class="col-md-4">
						<img id="profile-img" ng-src="{{getImageSrc()}}">
					</div>
					<div class="col-md-8">
						<div class="row">
							<div class="col-md-12">
								<h3>{{getUsername()}}</h3>
							</div>
						</div>
						<div class="row" id="profile-content">
							<div class="col-md-6">
								<p><md-icon><i class="material-icons">person</i></md-icon> {{getGivenName()}} {{getFamilyName()}}</p>
								<p><md-icon><i class="material-icons">email</i></md-icon> {{getEmail()}}</p>
							</div>
							<div class="col-md-6">
								<p><md-icon><i class="material-icons">wc</i></md-icon> {{getGender()}}</p>
								<p><md-icon><i class="material-icons">language</i></md-icon> {{getLanguage()}}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>